body{
    background: #000 !important;
}

h2>a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}


#main_logo{
    position: absolute;
    left: 8%;
    top: 32%;
}

#main_login{
    position: absolute;
    left: 8%;
    top: 48%;
}

.hm-container{
    position: absolute;
    top: 22%;
    left: 29%;
}

.hm-container>h1{
    font-size: 8em;
}

#main_menu{
    position: absolute;
    width: 100%;
    height: 11vh;
    background-color: #63DDB8;
}

#menu_logo{
    position: absolute;
    right: 2%;
    top: 7%;
}

#welcomePic{
    position: absolute;
    left: 36%;
    top: 17%;
    border-radius: 50%;
    border: 6px solid #fff;
}

#welcomeName{
    position: absolute;
    top: 37%;
    left: 37%;
    font-size: 8rem;
    color: #fff;

}

.welcomeCircle{
    border-radius: 50%;
    border: 9px solid #fff;
    position: absolute;
    width: 20%;
    height: 12%;
    color: #fff;
}

.welcomeCircle>h2>a{
    color: #fff !important;
}

.welcomeCircle>h2{
    position: relative;
    top: 100%;
    text-align: center;
}

#upcomingEvents{
    top: 49%;
}

#profile{
    top: 49%;
    left: 67%;
}

#requests{
    top: 74%;
    left: 67%;
}

#calendar{
    top: 74%;
}

#menu_buttons{
    list-style: none;
    position: absolute;
    display: inline-flex;
    top: 18%;
}

.menu_btn{
    color:  #fff;
    font-size: 2.5em;
}

.menu_btn:hover{
    color: #fff !important;
}
.symb{
    margin-right: 1em;
}
.main_symb{
    font-size: 8em;
    position: absolute !important;
    left: 22%;
    bottom: 7% !important;
}

#profile_name{
    font-size: 4em;
    position: absolute;
    left: 14%;
    color: #fff;
}

#profile_box{
    position: absolute;
    top: 15%;
    left: 21%;
    color: #fff;
    background: #000000;
}

#profile_box>span{
    font-size: 3em;
    float: right;
    position: absolute;
    right: 6%;
    top: 92%;
}

#back_button{
    position: absolute;
    font-size: 4em;
    background-color: transparent;
    color: #fff;
    top: 6%;
    left: 2%;
}

